@*if session exists*@
@if (Request.Cookies["auth"] != null)
{
    <li class="dropdown">
        <a id="user_name" class="dropdown-toggle" data-toggle="dropdown" href="#">
            <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
            <li>
                <a href="@Url.Action("Logout", "Auth")" class="">
                    <span class="glyphicon glyphicon-lock"></span>
                    LOGOUT
                </a>
            </li>
            <li>
                <a href="@Url.Action("AddPost", "User")" class="">
                    <span class="glyphicon glyphicon-plus"></span>
                    Add Post
                </a>
            </li>
        </ul>
    </li>
}
