body {
    padding-top: 50px;
    padding-bottom: 20px;
    /*background-color: #BDBDBD !important;*/
}

::selection {
    color: white !important;
    background-color: #337ab7 !important;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

.sticky-footer {
    bottom: 0;
    width: 100%;
}
/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.col-centered {
    margin: 0 auto !important;
    float: none;
}

.remove-margin {
    margin-left: 0px !important;
    margin-right: 0px !important;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.60);
    z-index: 9999;
    color: white;
    display: inline-block;
}

.content-singlepost {
    -webkit-box-shadow: 0 5px 5px rgba(84, 79, 79, 1);
    -moz-box-shadow: 0 5px 5px rgba(84, 79, 79, 1);
    box-shadow: 0 5px 5px rgba(84, 79, 79, 1) !important;
    background-color: #fff;
}

.content {
    -webkit-box-shadow: 0 5px 5px rgba(84, 79, 79, 1);
    -moz-box-shadow: 0 5px 5px rgba(84, 79, 79, 1);
    box-shadow: 0 5px 5px rgba(84, 79, 79, 1) !important;
    background-color: #fff;
}

    .content:hover, .content:focus {
        -webkit-box-shadow: 0 10px 10px rgba(84, 79, 79, 1) !important;
        -moz-box-shadow: 0 10px 10px rgba(84, 79, 79, 1) !important;
        box-shadow: 0 10px 10px rgba(84, 79, 79, 1) !important;
        cursor: pointer;
        transition: 0.2s all;
        opacity: 0.8;
    }

.content-login {
    -webkit-box-shadow: 0 5px 5px rgba(84, 79, 79, 1);
    -moz-box-shadow: 0 5px 5px rgba(84, 79, 79, 1);
    box-shadow: 0 5px 5px rgba(84, 79, 79, 1) !important;
    background-color: #fff;
}

    .content-login:hover, .content-login:focus {
        -webkit-box-shadow: 0 10px 10px rgba(84, 79, 79, 1) !important;
        -moz-box-shadow: 0 10px 10px rgba(84, 79, 79, 1) !important;
        box-shadow: 0 10px 10px rgba(84, 79, 79, 1) !important;
        transition: 0.2s all;
    }

.panel-primary {
    border: 1px solid rgba(93, 87, 87, 0.1) !important;
    border-radius: 0 !important;
    -webkit-border-radius: 0 !important;
    -moz-border-radius: 0 !important;
}

    .panel-primary > .panel-heading {
        border-radius: 0 !important;
        -webkit-border-radius: 0 !important;
        -moz-border-radius: 0 !important;
    }

    .panel-primary > .panel-footer {
        border-radius: 0 !important;
        -webkit-border-radius: 0 !important;
        -moz-border-radius: 0 !important;
    }

    .panel-primary > .panel-body-custom {
        max-height: 150px;
        overflow: hidden;
    }

.fixed-bar-right {
    position: fixed !important;
    right: 0;
}

.tagbox-custom-header {
    border: none !important;
    background: grey !important;
    /*margin: 0 -15px;*/
}

.tag-custom {
    margin: 3px !important;
}

.no-radius {
    border-radius: 0 !important;
}

.failMessage {
    color: red;
}

.successMessage {
    color: forestgreen;
}

.full-width {
    max-width: 100% !important;
}

.textarea-custom {
    min-height: 300px;
}

.comment-panel {
    display: inline-block;
    min-width: 40%;
    text-align: left;
    max-width: 100%;
    word-wrap: break-word;
}

.clickable {
    cursor: pointer;
}

.delete-button {
    float: right !important;
    font-size: 140% !important;
    color: white !important;
}
.delete-button :hover,.delete-button:focus{
    color:black !important;
}