@{
    ViewBag.Title = "Not Exist";
}
<div class="text-center">
    <h1>ITEM DOES NOT EXIST</h1>
    <div class="list-sfs-holder">
        <div class="alert alert-error">
            The item you are searching for does not exist.
        </div>
    </div>

</div>