@model System.Web.Mvc.HandleErrorInfo
@{ 
    ViewBag.Title = "Not Found";
}

<div class="text-center">
    <h1>404 - PAGE NOT FOUND</h1>
    <div class="list-sfs-holder">
        <div class="alert alert-error">
            The page you are searching for could not be found.
        </div>
    </div>
</div>
